html {
  padding: 1rem;
  height: 100vh;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: top;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.two-item-sort {
  display: flex;
  width: 19rem;
  flex-wrap: wrap;
}

.top-nav-style {
  height: 2rem;
  width: 40rem;
  size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid gray;
}

.top-article-style {
  min-height: 16rem;
  width: 16rem;
  margin: 1rem 0 1rem 0;

  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(247, 247, 146);
  border: 6px solid rgb(162, 194, 114);
  border-radius: 1rem;
}

.toDoList-input-style {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.toDoList-title-style {
  width: 10rem;

  font-size: 2rem;
  font-weight: 700;
  font-style: oblique;

  background-color: transparent;
  border: 0;
}

.toDoList-content-style {
  width: 8rem;
  font-size: 1.2rem;

  background-color: transparent;
  border: 0;
}

.toDoList-date-style {
  width: 7rem;
  background-color: transparent;
  border-radius: 0.4rem;
}

.two-button-style {
  height: 4rem;
  width: 11.5rem;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete-button-style {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: orange;
  border: 0.3rem solid rgba(206, 134, 0, 0.778);
  border-radius: 0.6rem;
}

.add-button-style {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: orange;
  border: 0.3rem solid rgba(206, 134, 0, 0.778);
  border-radius: 0.6rem;
}
